.glassmorphism {
  background: rgba(237, 230, 230, 0.215);
  box-shadow: 0 8px 32px 0 rgba(242, 242, 245, 0.37);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
